@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffff;
  color: #28282e;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Kaisei HarunoUmi', serif;
  text-decoration: none;
}



h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  /* text-align: center; */
  margin-top: 27px;
  font-size: 4vw;
  float: left;
  margin-left: 40px;
}


header {
  /* background-color: #ccc; */
  height: 120px;
  margin-bottom: auto;
}

a {
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 1.5vw;
}

nav {
  clear: both;
  text-align: center;
  border-bottom: 1px double #333;
  border-top: #aaa solid 1px;
  padding-bottom: 10px;
  padding-top: 10px;
}

nav a {
  margin-right: 20px;
  font-size: 16px;
  text-decoration: none;
}

.container-main {
  margin-top: 160px;
}


.container-header, .newsFeedContainer {
  width: 67.2vw;
  height: 100%;
  /* background-color: #fff; */
  margin: 0 auto;
}


.container-banner {
  float: left;
  /* background-color: khaki; */
  height: 100%;
 
  width: auto;
  display: block;
  
  margin-left: 120px;
  padding-bottom: 40px;
  padding-top: 40px;
} 




.news-column__left {
  /* background-color: honeydew; */
  width: 32.8%;
  float: left;
}

.news-column__right {
  /* background-color: wheat; */
  width: 67.2%;
  float: left;
  height: 100%
}

.container-comment-form {
  /* background-color: #eee; */
  height: 120px;
  display: none;
}

.slytherin-crest {
  padding-top: 20px;
  max-height: 5.5vw;
  display: block;
  float: left;
  margin-left: 40px;
}

.articleContainer {
  padding-bottom: 5em;
  padding-top: 5em;
  height: 32.8vh;
  /* background-color: #aaa; */
  margin-top: 20px;
  border-bottom: solid 1px #ccc;
}

.articleImage {
  margin-top: 10px;
  width: 100%;
  max-height: 100%;
}



.articleDescription {
  padding-left: 45px;
  padding-right: 20px;
  font-family: 'Playfair', serif;
  font-size: 18px;
  
}

.date-source-container {
  /* background-color: cornsilk; */
  width: 100%;
  height: 45px;
  padding-left: 20px;
}

.date-container{
  /* background-color: cyan; */
  float: left;  
  padding-left: 12vw;
}

.source-container{
  /* background-color:darksalmon; */
  float: left;
  padding-right: 1vw;
  padding-left: 20px;
}

.source {
  font-size: 12px;
  margin-left: 40px;
  margin-top: 0;
  text-transform: capitalize;
  
}

.articleTitle {
  text-align: left;
  display: block;
  /* font-family:  */
  font-size: 2em;
  margin-left: 40px;
  text-decoration: none;
}

/* <div className='news-column__right'> */
/* <p className='source'>{aNews.source}</p>
<a className='articleTitle' href={aNews.url}>{aNews.title}</a>
<p className='articleDescription'>{aNews.snippet}</p> */
