html, body {
  padding: 0;
  margin: 0;
  background-color: #ffff;
  color: #28282e;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  text-align: center;
  font-size: 4em;
}

.articleContainer {
  padding-left: 10em;
  padding-bottom: 5em;
  border: rgb(3, 2, 2);
  border-width: 2px;
}

.articleTitle {
  text-align: center;
  font-family: 'Newsreader', serif;
  font-size: 1.5em;
}

.articleImage {
  max-height: 350px;
}

.articleDescriptionContainer{

}

.articleImageContainer{
  
}